/************************* 
            GENERAL
 ************************/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#app{
    background: linear-gradient(0deg, #d5dbd8 0 88%, #009688 88% 100%);
    width: 100%;
    height: 100vh;
    font-family: 'Roboto', sans-serif;


    display: flex;
    justify-content: center;
    align-items: center;
}
#container {
    min-width: 700px;
    width: 90%;
    height: 90vh;

    display: flex;
}

/************************* 
        container
 ************************/

#my-id{
    width: 35%;
    height: 100%;
    border-right: 2px solid #b1b1b1;
}
#chat-user{
    width: 65%;
    height: 100%;
    background-color: aliceblue;
}



/************************* 
LEFT SIDE
************************/
#my-user-account{
    width: 100%;
    height: 70px;
    background-color: #eaeaea;

    display: flex;
    justify-content: space-between;
    
}
#users-chat{
    width: 100%;
    height: calc(100% - 70px);

}


/* user */

/* user left */
#my-name-account{
    height: 100%;
    min-width: 100px;
    

    display: flex;
    align-items: center;

}
#my-name-account img{
    height: calc(100% - 20px);
    border-radius: 50%;
    margin: 10px;
}

/* user right */
.my_user_options{
    height: 100%;
    min-width: 100px;
    text-align: right;
    margin-right: 10px;


    display: flex;
    align-items: center;
    justify-content: end;
}
.my_user_options i{
    margin: auto 7px;
    font-size: 22px;
    color: #b1b1b1;
}

/* bottom / users chat */
#notifications{
    height: 80px;
    background-color: #8edafc;

    display: flex;
    align-items: center;
}
#notifications i{
    font-size: 20px;
    color: #8edafc;
    padding: 16px;
    background-color: white;
    border-radius: 50%;
    margin: 5px 13px;
}
#notifications div{
    line-height: 23px;

}
#notifications a{
    display: block;
    color: #939797;

}

/* input  */
.users_chat {
    padding: 7px;
    background-color: #fafafa;
    
}
.users_chat div{
    border-radius: 5px;
}
.users_chat span{
    background-color: white;
    color: #d5dbd8;
    padding: 7px 20px;
    border-radius: 5px 0 0 5px ;
}
.users_chat input{
    width: calc(100% - 57px);
    height: 35px;
    padding-left: 5px;
    border: none;
    border-radius: 0 5px 5px 0;
}
#list-of-user-chat{
    height: calc(100% - 130px);
    padding-left: 0;
    overflow-y: auto;
    background-color: white;
}

/* users list chat */
.user:hover{
    background-color: #eaeaea;
}
.user-active{
    background-color: #eaeaea;
}
.user{
    display: flex;
    justify-content: space-between;
    list-style: none;
    padding: 4px 0;
    height: 80px;
    border-top: 1px solid #eaeaea;
}
.user span:first-child{
    height: 100%;

    display: flex
}
.user img{
    height: calc(100% - 20px);
    border-radius: 50%;
    margin: 10px 20px;
}
.user_name{
    overflow-y: hidden;
}
.user_name,  
.user span:last-child{
    padding-top: 5px;
}
.user span:last-child{
    padding-right: 10px;
}

.last_message{
    color: #b1b1b1;
    font-size: 13px;
    
}

span .last_message{
    width: 170px;
}

/************************* 
RIGHT SIDE
 ************************/

 #user-title-chat{
    width: 100%;
    height: 70px;
    background-color:#eaeaea;

    display: flex;
    justify-content: space-between;
}
#messages-user{
    width: 100%;
    height: calc(100% - 70px);

    background-image: url(../imgs/mine.jpg);
}

/* user message */
#account-user-chat{
    height: 100%;
    min-width: 100px;
    display: flex;
    align-items: center;
}

#account-user-chat img{
    height: calc(100% - 20px);
    border-radius: 50%;
    margin: 10px;
}


#option-for-chat{
    height: 100%;
    min-width: 100px;
    text-align: right;
}

/* bottom / messages */
#messages{
    height: calc(100% - 60px);
    overflow-y: auto;

    display: flex;
    flex-direction: column;
    padding: 20px 60px;

}
.message{
    min-width: 130px;
    max-width: 46%;
    min-height: 50px;
    padding: 15px 40px 30px 20px;
    margin-bottom: 15px;
    border-radius: 10px;
    
    position: relative;
}
.message.my-message{
    align-self: flex-end;
    background-color: #d5f9ba;
}
.message.user-message{
    /* align-self: flex-end; */
    background-color: white;
}

.message>span{
    position: absolute;
    right: 8px;
    bottom: 3px;
    color: #b1b1b1;
    font-size: 11px;
}
.message i{
    position: absolute;
    visibility: hidden;
    right: 13px;
    top: 8px;
    color: #b1b1b1;
    font-size: 11px;
}
.message:hover i{
    visibility: visible;
}
.drop-down-menu{
    width: 200px;
    z-index: 10;
    background-color: white;

    position: absolute;
    top: 30px;
    right: 10px;
    display: none;
}

.drop-down-menu.visible{
    display: block;
}
.drop-down-menu div{
    padding: 15px 20px;
}
.drop-down-menu div:hover{
    background-color: #eaeaea;
}


/* input chat */
#input-chat{
    height: 60px;
    color: #939797;
    background-color: #f3eeea;

    display: flex;
    justify-content: space-between;
    align-items: center;
}
#input-chat i{
    font-size: 25px;
    padding:10px 30px;
}
#input-chat input{
    width: calc(100% - 120px);
    height: calc(100% - 14px);
    padding: 0 20px;
    margin: 7px 0;
    border: none;
    border-radius: 5px;
}